<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-image: url('../image/hospital.jpg');">
<form action="about">

<div style="text-align: center; margin-top: 30px;">
	<h1 style="color: white">Best hospital ever u visit.</h1>
	<a href="/" class="btn btn-success" style="margin-top: 20px;">Home</a>
</div>

</form>

</body>
</html>