<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-image: url('../image/hospital.jpg');">
	<h2 style="text-align: center;color: white">Booking Details</h2>
	
	<div class="container-fluid mt-3">
		<div class="p-2" style="box-shadow: 0 10px 10px 0 rgba(0,0,0,0.7); border-radius: 10px;">
		<table class="table table-dark table-bordered table-striped table-hover">
			<thead>
				<tr class="bg-info text-center">
				<th>Name of the Patient</th>
				<th>Name of the Doctor</th>
				<th>Doctor Phone Number</th>
				<th>Doctor EmailId</th>
				<th>Assign Date</th>
				</tr>
			</thead>
			
		<tbody style="text-align: center;">
			<tr th:each="d:${ad}">
				<td th:text="*{d.pname}"></td>
				<td th:text="*{d.dname}"></td>
				<td th:text="*{d.dno}"></td>
				<td th:text="*{d.dmail}"></td>
				<td>
					<form action="setD" method="post">
						<input type="date" name="date">
						<input type="hidden" name="did"  th:value="*{d.id}">
						<button type="submit" class="btn btn-warning lg">Set</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
</body>
</html>