<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-image: url('../image/hospital.jpg');">
<form action="contact">

		<div style="text-align: center; margin-top: 30px;">
		<h1 style="color: white">phone no.:+91 2254545515</h1>
		<h2 style="color: white">mail id:HMS@gmail.com</h2>
		<a href="/" class="btn btn-success" style="margin-top: 20px;">Home</a>
		</div>

</form>

</body>
</html>