<!DOCTYPE html>
<html >
<head>
<meta charset="ISO-8859-1">
<title>Delete Doctor</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-image: url('../image/hospital.jpg');">
	<form action="deld" method="get">
	
	<div style="text-align: center; margin-top: 50px;">
	<label style="font-size: 20px;color: white">Enter DoctorID</label>&nbsp&nbsp&nbsp
	<input type="text" name="docid"  style="width: 220px;height: 40px;border-radius: 5px; border: none;margin-right: 20px">
	<input type="submit" value="Search" class="btn btn-success">
	</div>
	</form>
	
	
</body>
</html>