<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Feedback</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="css/feedback.css">
</head>
<body>

 <div class="aa">
	<h2>Feedback</h2>
           
	<form action="saveFeed" method="post">
<br>
	<input type="text" placeholder="Your Messege" id="uname" name="feedback"><br><br>
	
	Do you like our service?<input type="checkbox" name="ans" value="yes">Yes
	
							<input type="checkbox" name="ans" value="No">No<br>
							
        <input type="submit"  value="Click"><br><br><br>
        
        
	</form>
        </div>
        
</body>
</html>