<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="css/AdminHome.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<title>Home Pages</title>
</head>

<body>

<div class="first">

<label style="color: hotpink;">Ashalok Hospital</label>
	
	

	
</div>
	
<div class="main">

<div class="second">
	<ul class="ul2">
			<li class="li2">
	
				<a href="home">Home</a>
				<a href="regis">Register</a>
				<a href="login">Login</a>
				<a href="contact">Contact Us</a>
				<a href="about">About Us</a>
			</li>	
	</ul>
</div>

	<div class="fourth">

	

    </div>
	
	</div>
	
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
