<html>
        <head>
            <title>Login Page</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="css/login.css">
        </head>
<body>
	
        <div class="aa">
	<h2>Login Here</h2>
            <div id="error_message"></div>
	<form action="check" method="post">	

	<input type="text" placeholder="Username" id="uname" name="uname"><br><br>

	<input type="password" placeholder="Password" id="password" name="pass"><br><br>
	
        <input type="submit"  value="Login"><br><br><br>
        
        <label id="link">
        Not yet Registered ?<a href="regis"> Signup</a>

        </label>
	</form>
        </div>
	
	</body>
</html>
		
	
	
	


<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="check" method="post">
UserName <input type="text" name="uname"><br>
Password <input type="password" name="pass"><br>
<input type="submit" value="Login">
</form>
Not yet Registered ?<a href="regis">Register</a>
</body>
</html> -->