<html>
        <head>
            <title>Create Account</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <link rel="stylesheet" href="css/register.css">
        </head>
<body>

        <div class="aa">
	<h2>Create Account</h2>
              
            
	<form action="save">	

	<input type="text" placeholder="Name" id="fname" name="name">

	<input type="email" placeholder="EmailID" id="email"  name="email">
	
	<input type="text" placeholder="Mobile Number" id="email"  name="mobile">
	
	<input type="text" placeholder="Username" id="email"  name="uname">
	
	<input type="password" placeholder="Password" id="email"  name="pass">
	
	<input type="password" placeholder="Confirm Password" id="email"  name="cpass">
		
		<input type="submit"  value="SignUp">
		
	</form>
        </div>
	
	</body>
</html>
		
	






<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form action="save">

Name: <input type="text" name="name"><br>
Email: <input type="email" name="email"><br>
Mobile: <input type="text" name="mobile"><br>
UserName: <input type="text" name="uname"><br>
Password: <input type="password" name="pass"><br>
Confirm Password: <input type="password" name="cpass"><br>

<input type="submit" value="Register">

</form>





</body>
</html> -->